
<div class="ax-task-number row">
	<div class="col-sm-3">
		<h1>{{content.field_header_1}}</h1>
		<p>{{content.field_span_1}}</p>
	</div>
	<div class="col-sm-3">
		<h1>{{content.field_header_2}}</h1>
		<p>{{content.field_span_2}}</p>
	</div>
	<div class="col-sm-3">
		<h1>{{content.field_header_3}}</h1>
		<p>{{content.field_span_3}}</p>
	</div>
	<div class="col-sm-3">
		<h1>{{content.field_header_4}}</h1>
		<p>{{content.field_span_4}}</p>
	</div>
</div>